@import 'config.scss';

.dashboard__main{
	background-color:#E9EEE3;
	width:100%;
	overflow:scroll;
	padding:2em 0;
	.dashboard__components{
		display:grid;
		grid-gap:clamp(1em,5vw,2em);
		grid-template-columns:1fr 1fr;
		.dashCard{
			&.dashCard-expiry{
				grid-column:1 / span 2;
			}
			&.dashCard-recipe{
				grid-column:1 / span 1;
			}
			&.dashCard-fridge{
				grid-column:2 / span 1;
			}
		}
	}
}


.dashCard-recipe{
	.recipe{
		margin-bottom:1.5em;
		&__title{
			margin-bottom:0.3em;
		}
		&__ingredients{
			li{margin-left:1em;}
			.recipe__ingredient-missing{
				color:#ff8686;
			}
			.recipe__ingredient-using{
				color:green;
			}
		}
	}
}
